.container.titles__container


  .titles__section
    h2 Заголовок h1
    +block--head_h1("", "Спорт и активный отдых", "")

    h2 Заголовок h1 + Описание
    +block--head_h1("", "бары и рестораны", "Щедрые блюда, эксклюзивные гастрономические впечатления или еда на ходу - для каждого найдется что-то свое!")

    h2 Подзаголовок + Заголовок h1 + Описание
    +block--head_h1("Подзаголовок", "Окунитесь в круговорот роскоши", "Мы разрушаем границы между природой и архитектурой, создавая пространство гармонии.")


  .titles__section
    h2 Заголовок h2
    +block--head("", "роскошные условия ждут вас", "")

    h2 Заголовок h2 + Описание
    +block--head("", "Вакансии", "Присоединяйтесь к нашей команде и поднимите свою карьеру на новый уровень. Мы всегда ищем увлеченных и преданных своему делу людей, которые присоединятся к нашей команде.")

    h2 Подзаголовок + Заголовок h2 + Описание
    +block--head("преимущества", "Рассветы закаты - это", "Лучший семейный отель Крыма по системе «Все включено» с песчаным пляжем, бассейнами  и собственным аквапарком")


  .titles__section
    h2 Заголовок h2 (ссылка)
    +block--head_title_link("", "Проживание", "")

    h2 Заголовок h2 (ссылка) + Описание
    +block--head_title_link("", "инфраструктура", "Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")

    h2 Подзаголовок + Заголовок h2 (ссылка) + Описание
    +block--head_title_link("Подзаголовок", "Галерея", "От стильных номеров до прекрасных пейзажей - наша фотогалерея дает представление о комфорте, который ожидает вас в нашем отеле")
