extends ../layouts/components

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  div(style="display: flex; align-items: center; justify-content: center; gap: 24px; flex-wrap: wrap; min-height: 100vh;")

    .button.button-filled
      span Текст кнопки

    .button.button-accent
      span Текст кнопки

    .button.button-outlined-dark
      span Текст кнопки

    .button.button-accent_2
      span Текст кнопки

    .button.button-outlined-light
      span Текст кнопки




