extends ../layouts/main-header-transparent

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section
    include ../components/hero/hero-index/hero-index




