$transition: all 0.24s ease-in-out

$bg-base: #FFFCFA

// Светло-бежевый
$accent: #FFF1E8
// Темно-бежевый
$accent_2: #EBB48D

$cold: #EFF7FA

// Голубая кнопка
$light-blue: #6CB5CF

$text-light: #FFFAF4
$text-crimson: #854761
$text-basic: #2A2827E5


//media queries
$width-tablet: 1200px
$width-mobile: 768px




