$transition: all 0.24s ease-in-out

$bg-base: #FFFCFA
$bg-accent: #FFF1E8

$accent: #FFF1E8
$accent_2: #EBB48D

$accent-light: #6CB5CF
$accent-light-hover: #59A8C5

$accent-dark: #AAC2CB68
$accent-dark-hover: #6CB5CF

$primary-light: #EBB48D
$primary-light-hover: #E4A477

$primary-dark: #6CB5CF
$primary-dark-hover: #59A8C5

$outline-primary-dark: #FFFAF4
$outline-primary-dark-hover: #6CB5CF






//$cold: #EFF7FA

$text-light: #FFFAF4
$text-crimson: #854761
$text-basic: #2A2827E5


//media queries
$width-tablet: 1200px
$width-mobile: 768px




