.ui-grid-buttons
  h2 Базовые filled

  .button.button-filled.button-accent.button-light
    span button-filled accent

  .button.button-filled.button-secondary.button-light
    span button-filled secondary

  .button.button-filled.button-primary.button-light
    span button-filled primary

  h2 Темная тема

  .button.button-filled.button-accent.button-dark
    span button-filled accent

  .button.button-filled.button-secondary.button-dark
    span button-filled secondary

  .button.button-filled.button-primary.button-dark
    span button-filled primary



.ui-grid-buttons
  h2 Базовые outlined

  .button.button-outlined.button-secondary.button-light
    span button-outlined secondary

  .button.button-outlined.button-primary.button-light
    span button-outlined primary

  h2 Темная тема

  .button.button-outlined.button-secondary.button-dark
    span button-outlined secondary

  .button.button-outlined.button-primary.button-dark
    span button-outlined primary


.ui-grid-buttons
  h2 Базовые link

  .button.button-link.button-accent.button-light
    span button-link accent

  .button.button-link.button-secondary.button-light
    span button-link secondary

  .button.button-link.button-primary.button-light
    span button-link primary


  h2 Темная тема

  .button.button-link.button-accent.button-dark
    span button-link accent

  .button.button-link.button-secondary.button-dark
    span button-link secondary

  .button.button-link.button-primary.button-dark
    span button-link primary



